








body{

    margin: 0 !important;
    padding: 0 !important;
   background-color: black !important;
}

.loginbox {
    width: 320px !important;
    height: 420px !important;
    color: #fff !important;
    top: 50%!important;
    left: 50%!important;
    position: absolute!important;
    transform: translate(-50% , -50%)!important;
    box-sizing: border-box !important;
   
}

.loginbox h1 {
margin: 0 !important;
padding: 0 0 20px !important;

font-size: 22px !important;
}

.loginbox label {
   
    padding-top: 1px !important;
    font-weight: bold!important;
  
}
.loginbox input[type="email"], input[type="password"], input[type="text"],input[type="number"]{
    width: 100% !important;
    margin-bottom: 20px !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    outline: none !important;
    height: 40px !important;
    color: #fff !important;
    font-size: 16px !important;
    background: transparent !important;
    



}
.loginbox button[type="submit"] {
    border: none !important;
    outline: none !important;
    height: 40px !important;
    background: #fff !important;
    color: black !important;
    font-size: 18px !important;
    width: 100%;
    
}

.loginbox button[type="submit"]:hover{
    cursor: pointer !important;
    background-color: #800080 !important;
    color: #000!important;


}
.loginbox a {
    text-decoration: none !important;
    font-size: 12px !important;
    line-height:10px !important;
    color: darkkhaki !important;
 
   
   
}
.loginbox a:hover{
    color: #ffc107 !important;
}

.loginbox input[type="checkbox"] {
  margin-bottom: 10px !important;
  
}

.dropdown-menu{
   background-color: #343a40 !important;
    
   
}

.dropdown-menu a:hover{
    background-color: #343a40 !important;
    
}





.dropdown-menu a{
    color: #fff !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    
  }

 .card {
    background-color: #343a40 !important;
    transition:  2s;
   
 }

 .card h5 {
     display: none;
     color: #fff;
     text-align: center;
 }

 .card:hover{
    transform: scale(1.1);
   
 }

 p{
     color: #fff;
     border: 5px solid rgba(255, 255, 255, .2);
    
 }
.holder {
    float:left;
    margin-right:10% !important;
   
    
}
.holder > a img{
    height:auto;
    width:100px;
    margin-top: 10px;
    
    border: 5px solid rgba(255, 255, 255, .2);
    cursor: pointer;
}
.main  {
    border: 5px solid rgba(255, 255, 255, .2);
}
.card-body:hover>.card-title{
    display: block;
}

.description > p{
    margin-top: 20%;
}

span{
    color: #fff;
}

.cart {
    border: none !important;
    outline: none !important;
    height: 40px !important;
    background: #fff !important;
    color: black !important;
    font-size: 18px !important;
    width: 100%; 
}

.cart:hover{
    cursor: pointer !important;
    background-color: #800080 !important;
    color: #fff!important;

}
.holder {
    margin-left: 5%;
  
}
label {
    color: #fff;
}
.alert-danger {
    background-color: #fb2525!important;
    color: #fff!important;
}

.empty {
    width: 50%;
    text-align: center;
   margin-top: 20%!important;
}







.table {
    background: #34495E; 
    color: #fff!important;
}





.qty{
    border: none !important;
    outline: none !important;
    background: #fb2525 !important;
    color: #fff !important;
    font-size: 16px !important; 
    margin-left: 6%; 
}
  .qty:hover {
    cursor: pointer !important;
    background-color: #ffc107 !important;
    color: #000!important; 
  }
.del{
    border: none !important;
    outline: none !important;
   
    background: #fff !important;
    color: black !important;
    font-size: 16px !important;
    width: 50%;  
}

.del:hover{
    cursor: pointer !important;
    background-color: #800080 !important;
    color: #000!important; 
}

.fa-trash{
    font-size: 20px!important;
}

td img{
    width: 50%;
    margin-left: 2%;
}

td {
    width: 10px;
}
.down{
    width: 100% !important;
    margin-bottom: 20px !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    outline: none !important;
    height: 40px !important;
    color: #fff !important;
    font-size: 16px !important;
    background: transparent !important;  
}
.tatoo-description p {
 padding: 20px;

}




.bold {
    font-weight: bold;
}

.tatoo-description {
    margin-top: 3%;
}
.tatoo {
    margin-top: 3%;
    border: 5px solid rgba(255, 255, 255, .2);
}
.phone {
    float: right;

}
.fa-phone {
    font-size: 19px;
}

.ellen{
    margin-top: 10.30%;
    border: 5px solid rgba(255, 255, 255, .2);
    padding-bottom: 0.25%;
    padding-top: 0.45%;
    
    
}
.about{
    margin-top: 5%; 
}

.about p {
    padding: 20px;
}

.printings{
    border: 5px solid rgba(255, 255, 255, .2);
}
.printings p{
   padding: 20px;
   border: none;
}
.printings h1 {
    text-align: center;
    color: #fff;
}
.solo-art {
    border: 5px solid rgba(255, 255, 255, .2);
    margin-top: 1%;
}
.solo-art p{
    border: none;
    padding: 20px;
}
.solo-art h1{
    text-align: center;
    color: #fff;
}
.social{
    margin-left: 50%;
}

.social a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 19px;

}
.social a:hover {
    color: #fff;
}

.henna-tatoo {
    border: 5px solid rgba(255, 255, 255, .2);
    margin-top: 1%; 
}

.henna-tatoo p {
    border: none;
    padding: 20px;
}
.henna-tatoo h1{
    text-align: center;
    color: #fff; 
}

.dj-producer {
    border: 5px solid rgba(255, 255, 255, .2);
    margin-top: 1%; 
}
.dj-producer p{
    border: none;
    padding: 20px;
}

.dj-producer h1 {
    text-align: center;
    color: #fff; 
}
.mail-box {
    border: 5px solid rgba(255, 255, 255, .2);
    margin-top: 1%;
}
.mail-box p {
    border: none;
    padding: 20px;
    font-weight: bold;
}
.mail-box h1{
    text-align: center;
    color: #fff; 
}


.mail-box input[type="email"], textarea, input[type="text"]{
    width: 100% !important;
    margin-bottom: 20px !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    outline: none !important;
    height: 40px !important;
    color: #fff !important;
    font-size: 16px !important;
    background: transparent !important;
  
    



}

.mail-box button[type="submit"] {
    border: none !important;
    outline: none !important;
    height: 40px !important;
    background: #fff !important;
    color: black !important;
    font-size: 18px !important;
    width:100%;
    margin-bottom: 2%;
    
    border-radius: 50%;
    
}

.mail-box button[type="submit"]:hover{
    cursor: pointer !important;
    background-color: #800080 !important;
    color: #000!important;


}
.pay{
    border: none !important;
    outline: none !important;
    height: 40px !important;
    background: #fff !important;
    color: black !important;
    font-size: 18px !important;
    width: 100%;
    margin-top: 2%;
}
.button {
    border: none !important;
    outline: none !important;
    height: 40px !important;
    background: #fff !important;
  
    font-size: 18px !important;
    width: 100%;
    margin-top: 2%;
}
#button-text{
    color: black;
}
#button-text:hover{
    color: #fff;
}
.pay:hover {
    cursor: pointer !important;
    background-color: #800080 !important;
    color: #fff!important;
}

.button:hover {
    cursor: pointer !important;
    background-color: #800080 !important;
    color: #fff!important;
}

.email {
    width: 100% !important;
    margin-bottom: 20px !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    outline: none !important;
    height: 40px !important;
    color: #fff !important;
    font-size: 16px !important;
    background: transparent !important;
}

.hidden {
    display: none;
  }
  
  #messages {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
  }
  
  #card-element {
    background-color: white;
    padding: 10px;

  }
  



  
  /* spinner/processing state, errors */
  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }
  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }
  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }
  
  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .payment-card {
      display: none;
  }
 
.payment-paypal{
    display: none;
}

.smb {
    border: none !important;
    outline: none !important;
    height: 40px !important;
    background: #fff !important;
    color: black !important;
    font-size: 18px !important;
    width: 40%;
    margin-left: 25%;
    margin-top: 2%; 
}
.smb:hover{
    cursor: pointer !important;
    background-color: #800080 !important;
    color: #fff!important; 
}


.social-modal a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 16px;
    margin-left: 50%;

}

